ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

 ion-toolbar {
  --background: transparent;
}

ion-content, ion-item{
  font-size: small;
}

h1 {
  outline-style: solid;
}
ion-buttons {
  color: primary;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
