<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About the App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
<h1 class="ion-text-center">
  <ion-icon name="star-outline" slot="start" ></ion-icon>
    Sophie's Online Shop
  <ion-icon name="star-outline" slot="end"></ion-icon>
</h1>
<br>
<p>This Application is programmed by Sophie Westfahl within her studies at OAMK.  </p>
<p> She used Ionic v5 and Angular. Inlcuded features are: </p>
<br>

<ion-list>
  <ion-item >
    <ion-label>Side bar</ion-label>
    <ion-checkbox slot= "start" checked="true"></ion-checkbox>
  </ion-item>
  <ion-item >
    <ion-label>Different products + detailed Page</ion-label>
    <ion-checkbox slot= "start" checked="true"></ion-checkbox>
  </ion-item>
  <ion-item >
    <ion-label>Object orientation for products</ion-label>
    <ion-checkbox slot= "start"></ion-checkbox>
  </ion-item>
  <ion-item >
    <ion-label>Local storage for comments</ion-label>
    <ion-checkbox slot= "start"></ion-checkbox>
  </ion-item>
  <ion-item >
    <ion-label>Google Maps API</ion-label>
    <ion-checkbox slot= "start"></ion-checkbox>
  </ion-item>
  <ion-item >
    <ion-label>General features of an app + design</ion-label>
    <ion-checkbox slot= "start" checked="true"></ion-checkbox>
  </ion-item> 
</ion-list>
  
</ion-content>
